.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.DS_Store
db/schema.rb
db/development_structure.sql
pkg
rdoc
/tmp
public/*
Gemfile.lock
.rvmrc
.ruby-version
/.sass-cache
coverage/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea
## File-based project format:
*.iws
## Plugin-specific files:
# IntelliJ
/out/
# mpeltonen/sbt-idea plugin
.idea_modules/
# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
